.Body{
    background-color: rgb(241, 236, 185);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table1, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.table1{
    width: 400px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.first_line{
    background-color: rgb(255, 246, 169);
}

.title1{
    color: darkgoldenrod;
}

.Names{
    font-weight: bold;
}

.Advice{
    font-style: oblique;
}

.h2{
    text-align: center;
    margin-top: 20px;
    color: rgb(139, 108, 28);
    font-style: italic;
}

.Carousel_Images{
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}